/*你知道吗，想要新建一个栏目只要把top这条加上40%就行了*/
.blur-box1{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    padding: 20px;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blur-box2{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    width: 400px;
    padding: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blur-box3{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    width: 400px;
    padding: 20px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blur-box4{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    width: 400px;
    padding: 20px;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blur-box5{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    width: 400px;
    padding: 20px;
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.blur-box6{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    width: 400px;
    padding: 20px;
    position: absolute;
    top: 230%;
    left: 50%;
    transform: translate(-50%, -50%);
}