*{
    margin:  0 ;
    padding: 0;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
a{
    margin: 10px;
    text-decoration: none;
    color: pink;
    position: relative;
}
/*下划线动画*/
a::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin:right ;
    max-width: calc(100% - 0px); 
    /*速度*/
    transition: transform 0.5s ease-out;
}
a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    max-width: calc(100% - 0px); 
}